<h1> Here are the lists name </h1>

<h3>List name: <%= @list.name %></h3>

<p><%= link_to "Back to all lists", lists_path %></p>

<p> Number of list: <%= @list.bookmarks.count %></p>
<% @list.bookmarks.each do |bookmark| %>
  <div class="container border border-dark border-2 mt-3 mb-3 pt-3 pb-3">
      <p><strong> Movie Title: </strong> <%= bookmark.movie.title %><p>
      <p><strong> Movie Rating: </strong><%= bookmark.movie.rating %></p>
      <p><strong> Movie Overview: </strong><%= bookmark.movie.overview %></p>
      <%= image_tag bookmark.movie.poster_url, width: "200"%>
  </div>
  <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<% end %>
