<div class="container">
<h1> Here are the lists name </h1>

<h3>List name: <%= @list.name %></h3>


<div class="p-3 mb-2" >
<%= link_to "Back to all lists", lists_path, class: 'btn btn-outline-primary'  %>
<%= link_to "Create a new bookmark", new_list_bookmark_path(@list), class: 'btn btn-outline-primary' %>
</div>
 <p> Number of movies: <%= @list.bookmarks.count %></p>
</div>




<div class="container movie-grid px-4">
    <% @list.bookmarks.each do |bookmark| %>
    <div class="border border-dark border-1 mt-3 mb-3 pt-3 pb-3 px-4 movie-card">
        <p><strong> Movie Title: </strong> <%= bookmark.movie.title %><p>
        <p><strong> Movie Rating: </strong><%= bookmark.movie.rating %></p>
        <p><strong> Movie Overview: </strong><%= bookmark.movie.overview %></p>
        <%= image_tag bookmark.movie.poster_url, width: "200"%>
        <p><strong> Bookmark Comment:  <%= bookmark.comment %> </strong></p>
        <div>
          <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-outline-primary"%>
        </div>
    </div>
    <% end %>
</div>
